torch==2.1.2
torchvision==0.16.2
opencv-python-headless
pillow
scipy
tqdm
imagesize
safetensors
transformers
accelerate
bitsandbytes
diffusers
datasets
omegaconf
peft
toml
gradio
altair
easygui
einops
pytorch-lightning
tensorboard
wandb
networkx==2.8.8